/* 追加分 */
#tag-list-container {
  margin-bottom: 20px;
}

#tag-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#tag-list .clickable-tag {
  background-color: #ddd;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  transition: background-color 0.2s;
}

#tag-list .clickable-tag:hover {
  background-color: #bbb;
}
